@import "../../styles/variable.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.25rem;

    .title {
      font-size: 1rem;
      font-weight: 700;
      color: $main-color;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      padding: 0.625rem;
      border-radius: 0.3125rem;

      &:hover {
        background-color: $soft-bg;
      }
    }
  }
}
