@import "./variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;
}

.menu-container {
  width: 16em;
  padding: .3125rem 1.25rem;
  border-right: .125rem solid $soft-bg;
}

.content-container{
  width: 100%;
  padding: .3125rem 1.25rem;
}
